body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

input {
  padding: 8px;
  width: 50%;
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  background-color: #fff;
}

h1, h2 {
  color: #003366;
}
